APP_ENV=dev
APP_HOST=localhost
APP_PORT=4003

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_URI=

BCRYPT_SALT_COST_FACTOR=10

# secret length needs to be 64 characters or 32 bytes; else cryptography will fail
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
VERIFY_TOKEN_SECRET=
FORGOT_PASSWORD_TOKEN_SECRET=

ACCESS_TOKEN_EXPIRATION=3600  # 1 hour | 3600s
REFRESH_TOKEN_EXPIRATION=604800  # 7 days | 604800s
VERIFY_TOKEN_EXPIRATION=900  # 15 minutes | 900s
FORGOT_PASSWORD_TOKEN_EXPIRATION=900  # 15 minutes | 900s
TWO_FA_TOKEN_EXPIRATION=300  # 5 minutes | 300s

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

EMAIL_FROM=noreply@stk-node-nest-restapi-mongodb-mongoose

