{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "minify": false,
  "module": {
    "type": "nodenext",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "jsc": {
    "externalHelpers": true,
    "target": "esnext",
    "loose": false,
    "keepClassNames": true,
    "preserveAllComments": false,
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  }
}
